
@{
    ViewBag.Message = "Welcome To Maersk Line";
}
<div class="jumbotron";style="text-align:center">
     <div style="width:1000px; margin:0 auto;text-align:left">
    <img alt="MaerskLine"; src="@Url.Content("http://www.maersklinelimited.com/wp-content/themes/maerskline/img/logo.png")">
    </div>
    <h1> @ViewBag.Message</h1>
    <!--<p class="lead">Welcome to West Europe Region.</p>-->
    <p class="lead">Maersk Line is the global container division and the largest operating unit of the A.P. Moller.</p>
</div>

<div style="width:1000px; margin:0 auto;text-align:center">
    <img alt="MaerskLine" src="@Url.Content("http://3kbo302xo3lg2i1rj8450xje.wpengine.netdna-cdn.com/wp-content/uploads/2014/01/Maersk-Triple-E-Lego-Set.png")">

</div>
<p>Maersk Line is the global container division and the largest operating unit of the A.P. Moller – Maersk Group, a Danish business conglomerate. It is the world's largest container shipping company having customers through 374 offices in 116 countries. It employs approximately 7,000 sea farers and approximately 25,000 land-based people. Maersk Line operates over 600 vessels and has a capacity of 2.6 million TEU. The company was founded in 1928.
        </p>
